*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(12, 129, 188, 0.4); /* linear gradient */
}

.title{
    color: white;
    text-align: center;
}

.button, .new-task{
    font-size: 14px;
    padding: 4px 8px 4px 8px;
    height: 30px;
}

.button{
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.add{
    background-color: rgb(30, 228, 60);
    color: white;
    padding-right: 16px;
    padding-left: 16px;
}

.add:hover{
    background-color: rgb(0, 180, 0);
}

.icon{
    display: none;
}

@media(max-width: 580px)
{
    .icon{
        display: inline-block;
        padding: 1px 3px 1px 3px;
    }

    .undo{
        display: none;
    }
    
    .name{
        width: 140px;
    }
}

.sort{
    background-color: rgb(231, 167, 49);
}

.sort:hover{
    background-color: rgba(231, 167, 49, 0.8);
}

.todo-list{
    margin-top: 10px;
    margin-right: 30%;

    /*display: flex;
    flex-direction: column;*/
}

@media (max-width: 830px)
{
    .todo-list{
        margin-right: 20%;
    }
}

@media (max-width: 640px)
{
    .todo-list{
        margin-right: 10%;
    }
}

.todo{
    margin-top: 6px;
    padding: 10px 4px 10px 4px;
    background-color: rgb(8, 177, 223);
    border-radius: 3px;

    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
}

.task-name{
    margin-left: 5px;
}

.edit{
    margin-left: 8px;
}

.delete{
    background-color: rgb(199, 0, 0);
    margin-left: 10px;
    margin-right: 10px;
}

.delete:hover{
    background-color: rgba(199, 0, 0, 0.9);
}